---
title: Металл
headerHide: false
footerHide: false
secNames: ['Главная', "Наши проекты", 'Постоянные клиенты','Наши партнеры','О компании','Кому не повезло', 'Команда', 'Контакты']
descrs: [['НЭСК электросети', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, magnamLorem ipsum dolor sit amet, consectetur adipisicing elit.'],['НЭСК электросети', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, magnam?']]
without: ["Колизей", "Бурдж Халифа", "Трамп Тауэр"]
team: [
["Елена Александрова", "Генеральный директор", "Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae "],
["Светлана Иванова", "Генеральный директор", "Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae "],
["Виктория Николаева", "Генеральный директор", "Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae "]]
---
extends layouts/_layout
block content
	+b.SECTION.main#main
		+e.container.anim
			+e.H1.header
				+e.SPAN.header_accent Металлические изделия 
				br
				span для массовых застройщиков 
				br
				span по центральной России
			+e.__button.button 
				span Оставить заявку
		+e.__background.anim
		+b.navigation.anim
			each val, index in secNames
				+e.A(href="#").elem(class=index === 0 ? "active" : "")
					+e.SPAN.num= "0" + (index+1) 
					+e.SPAN.name= val
		+b.projects
			.container
				+e.background
					+e.H2.header.anim
						| Наши проекты
					+e.wrapper.anim
						each val in [1,2,3,4,5,6]
							+e.item(class=val%3 === 0 ? "no_margin" : "")
								img.image(src="img/projects/" + val + ".jpg")
					+e.cifre
						span 6
		
		+b.lines
			+e.wrapper.anim#main-line-wrapper
				+e.line._l1
				+e.line._l2
				+e.line._l3
				+e.line._l4
				+e.line._l5
				+e.line._l6
	+b.SECTION.clients#clients
		.container
			+e.H2.header.anim
				| Постоянные клиенты
			+b.time-manager.anim
				+e.item.active
					span 2015
					+e.line
				+e.item
					span 2016
					+e.line
				+e.item
					span 2017
					+e.line
				+e.item
					span 2018
					+e.line
				+e.item._last
					span 2019
					+e.line
			+e.backword.backword.anim
				span КЛИЕНТЫ
			+e.__slider.anim
				+e.arrow._right
					+i("arrow")
				+e.arrow._left
					+i("arrow")
				.swiper-container
					.swiper-wrapper
						each val, index in descrs
							+e.__slide.swiper-slide
								+e.image
									+e.wrapper
										img(src="img/leads/" + (index+1) + ".jpg")
									+e.prx(data-swiper-parallax="-400", data-swiper-parallax-opacity="0")
										+e.description
											h3= val[0]
											p= val[1]
		+b.lines._white
			+e.wrapper.anim
				+e.line._l1._whites
				+e.line._l2._whites
				+e.line._l3._whites
				+e.line._l4._whites
				+e.line._l5._whites
				+e.line._l6._whites
	+b.SECTION.partners#partners
		+e.background
			+e.IMG(src='img/partners-bg.jpg').image.anim
		.container
			+e.H2.header.anim Наши партнеры
			+e.wrapper.anim
				each item in [1,2,3]
					+e.item
						img(src='img/partners/' + item + '.png')
	+b.SECTION.about#about
		.container
			+e.H2.header.anim
				| О компании
			+e.container
				+e.hero
					+e.IMG(src="img/leader.png").image.anim
					+e.circles
						+e.circle._c1.anim
						+e.circle._c2.anim

				+e.description
					+e.info.anim
						+e.H3.name Иван Александров
						+e.P.position Генеральный директор
					+e.text.anim
						+i("quote")
						p Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neq
			+e.backword.backword О компании
		+b.lines._white
			+e.wrapper.anim
				+e.line._l1._gray
				+e.line._l2._gray
				+e.line._l3._gray
				+e.line._l4._gray
				+e.line._l5._gray
				+e.line._l6._gray
	+b.SECTION.without#without
		+e.H2.header.anim
			| Те, кому не повезло поработать с нами
		+e.background.anim
		+e.container
			each val, index in without
				+e.item.anim
					+e.image
						img(src="img/without/" + (index+1) + ".jpg")
					+e.H3.name= val
	+b.SECTION.team#team
		+e.background.anim
		.container
			+e.__slider.anim
				+e.arrow._right.anim
					+i("arrow")
				+e.arrow._left.anim
					+i("arrow")
				+e.slider
					.swiper-container
						.swiper-wrapper
							each val, index in team
								+e.__slide.swiper-slide
									+e.info(class=index === 0 ? "anim" : "").anim-sl
										h3= val[0]
										p= val[1]
									+e.image(class=index === 0 ? "anim" : "").anim-sl
										img(src="img/team/" + (index+1) + ".png")(class=index === 0 ? "anim" : "").anim-sl
									+e.description(class=index === 0 ? "anim" : "").anim-sl
										p= val[2]
	+b.SECTION.contacts#contacts
		.container
			+e.H2.header.anim Контакты
			+e.backword.backword.anim
				| Ко
				br
				| нт
				br
				| ак
				br
				| ты
			+e.wrapper
				+e.info.anim
					+e.A(href="#").addr Москва. Пархоменко 2 б
					+e.A(href="#").phone +7 495 999-00-99
					+e.A(href="#").email info@site.ru
				+e.IMG(src="img/map.jpg").map.anim